*.txt
*.pt
scripts/LeNet/runs/
scripts/LeNet/data/
scripts/AlexNet/data/
scripts/AlexNet/runs/
scripts/AlexNet/test_runs/
scripts/test_cp_norm.py
__pycache__/
models/__pycache__
scripts/AlexNet/svhn_data/
scripts/LeNet/.giosaveGkzzha


