workbench/
main/
scripts/
*.txt
*.pt
src/ConvNet/runs
src/ConvNet/data/
src/AlexNet/data
src/AlexNet/runs
src/AlexNet/test_runs
src/cp_norm
test_cp_norm.py
__pycache__/
models/__pycache__
src/AlexNet/svhn_data
src/ConvNet/.giosaveGkzzha


